.listOfCharecters
{
    height: 100%;
    width: 100%;
    flex-direction: column;
    display: flex;
   

}
.charactersList{
    margin-left: 1em;
    border: 0.4em solid;
    border-color: greenyellow;
    display: flex;
    flex-direction: column;
}

.charactersName{

}
